header {
    background-color: #244751;
    color: #E8FDFF;
    overflow: hidden;
    padding: 0 2em;
    display: flex;
    align-items: baseline;
}

body{
    background-color: whitesmoke;
}

main{
    background-color: white;
    padding: 16px;
    width: 450px;
    margin: auto;
}

.finstagram-post{
    margin-bottom: 48px;
}

.finstagram-post .user-info img{
    border-radius: 50%;
}

body{
    font-family: 'Lato';
}

a.photo{
    transition: padding 10px;
  }

a.photo:hover{
    padding: 10px;
}

