<form action="/likes" method="POST">
  <input type="hidden" name="finstagram_post_id" value="<%= finstagram_post.id %>">
  <button class="button" type="submit">
    <%= finstagram_post.like_count %> likes
  </button>
</form>