<% if current_user %>
  <div class="new-finstagram-post">
    <a href="/finstagram_posts/new" class="button">New Post</a>
  </div>
<% end %>

<% @finstagram_posts.each do |finstagram_post| %>
    <%= erb(:"shared/finstagram_post", { locals: { finstagram_post: finstagram_post, allow_new_comment: false }}) %>
<% end %>