<!doctype html>

<html>
    <head>
        <title>Finstagram</title>
    </head>
    <body> 
        <header>
        <h1>Finstagram</h1>
        </header>
        <main role="main">
            <article>
                <div>
                <img src="http://naserca.com/images/sharky_j.jpg" alt="sharky_j">
                <h2>sharky_j</h2>
                <h3>15 minutes ago </h3>
                </div>
                <a href="#">
                    <img src="http://naserca.com/images/shark.png" alt="post from sharky_j">
                </a>

    <div> 0 likes 
        <span>0 comments</span>
    </div>

    <ul>
        <li>
            <p>
            sharky_j: Out for the long weekend... too embarrassed to show <!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
                <title>Document</title>
            </head>
            <body>
                
            </body>
            </html>
            </p>
        </li>
    </ul>


            </article
        ></main>

    <h1>Finstagram</h1>
    Finstagram
    </body>

    </html>