<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="../../public/stylesheets/normalize.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,700,300">
    <link rel="stylesheet" href="../../public/stylesheets/lib.css">
    <title>Finstagram</title>
  </head>
  <body>
    <header>
      <h1>Finstagram</h1>
    </header>
    <main role="main">
      <article class="post">
        <div class="user-info">
          <img src="http://naserca.com/images/sharky_j.jpg" alt="sharky_j">
          <h2>sharky_j</h2>
          <h3>15 minutes ago</h3>
        </div>
        <a class="photo" href="#">
          <img src="http://naserca.com/images/shark.png" alt="post from sharky_j">
        </a>
        <div class="actions">
          0 likes
          <span class="comment-count">0 comments</span>
        </div>
        <ul class="comments">
          <li>
            <p>
              sharky_j: Out for the long weekend... too embarrassed to show y'all the beach bod!
            </p>
          </li>
        </ul>
      </article>
    </main>
  </body>
</html>