<!doctype html>
<html>
    <head>
      <link rel="stylesheet" href="../../../stylesheets/normalize.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,700,300">
    <link rel="stylesheet" href="../../../stylesheets/lib.css">
    <link rel="stylesheet" href="../../../stylesheets/app.css">
     
     
      <title>Finstagram</title>
    </head>
    <header>
    <h1>Finstagram</h1>
    </header>

</main>
</html>
<main role="main"></main>


</html><article class="finstagram-post">
  <div class="user-info">
    <img src="http://naserca.com/images/sharky_j.jpg" alt="sharky_j">
    <h2>sharky_j</h2>
    <h3>15 minutes ago</h3>
  </div>
  <a class="photo" href="#">
    <img src="http://naserca.com/images/shark.png" alt="post from sharky_j">
  </a>
  <div class="actions">
    0 likes
    <span class="comment-count">0 comments</span>
  </div>
  <ul class="comments">
    <li>
      <p>
        sharky_j: Out for the long weekend... too embarrassed to show y'all the beach bod!
      </p>
    </li>
  </ul>
</article>
 <article class="finstagram-post">
    <div class="user-info">
      <img src="http://naserca.com/images/kirk_whalum.jpg" alt="kirk_whalum">
      <h2>kirk_whalum</h2>
      <h3>1 hour ago</h3>
    </div>
    <a class="photo" href="#">
      <img src="http://naserca.com/images/whale.jpg" alt="finstagram post from kirk_whalum">
    </a>
    <div class="actions">
      0 likes
      <span class="comment-count">0 comments</span>
    </div>
    <ul class="comments">
      <li>
        <p>
          kirk_whalum: #weekendvibes
        </p>
      </li>
    </ul>
  </article>

  <article class="finstagram-post">
    <div class="user-info">
      <img src="http://naserca.com/images/marlin_peppa.jpg" alt="marlin_peppa">
      <h2>marlin_peppa</h2>
      <h3>3 hours ago</h3>
    </div>
    <a class="photo" href="#">
      <img src="http://naserca.com/images/marlin.jpg" alt="finstagram post from marlin_peppa">
    </a>
    <div class="actions">
      0 likes
      <span class="comment-count">0 comments</span>
    </div>
    <ul class="comments">
      <li>
        <p>
          marlin_peppa: lunchtime! 
        </p>
      </li>
    </ul>
  </article>

</main>