<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,700,300">
    <link rel="stylesheet" href="/stylesheets/lib.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <title>Finstagram</title>
  </head>

   <body>
    <header>
      <h1>
    <a href="/">Finstagram</a>
  </h1>
      <div class="login-info">
        <% if current_user %>
          <%= current_user.username %>
          <a href="/logout">Logout</a>
        <% else %>
          <a href="/login">Login</a>
          <a href="/signup">Signup</a>
        <% end %>
      </div>
    </header>
    <main role="main">
      <%= yield %>
    </main>
  </body>


</html>