<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">

  <!-- external google fonts -->
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,700,300" >

  <!-- app.css is where you put your styles -->
  <link rel="stylesheet" href="/stylesheets/app.css">

  <title>Finstagram</title>
</head>
<body>
  <%= erb :header %>
  <main role="main">
    <%= yield %>
  </main>
</body>
</html>
