<h2>Login to Finstagram</h2>

<%= @error_message if @error_message %>

<form action="/login" method="POST">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" id="username" name="username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
  </div>
  <div class="form-group">
    <button class="button" type="submit">login</button>
  </div>
</form>