<!doctype html>
<html>
  <head>
    <title>Finstagram | Signup</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,700,300" >
    <link rel="stylesheet" type="text/css" href="styles/normalize.css">
    <link rel="stylesheet" type="text/css" href="styles/app.css">
  </head>
  <body>
    <header>
      <h1>Finstagram</h1>
    </header>
    <main role="main">
      <form action="/signup" method="POST">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password">
        </div>
        <div class="form-group">
          <button class="button" type="submit">Signup</button>
        </div>
      </form>
    </main>
  </body>
</html>