<form>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email">
  </div>
  <div class="form-group">
    <label for="avatar_url">Avatar URL</label>
    <input type="text" id="avatar_url">
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" id="username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password">
  </div>
  <div class="form-group">
    <button class="button" type="submit">Signup</button>
  </div>
</form>